.parent {
    position: relative;
    top: 0;
    left: 0;
  }
  .image1 {
    position: absolute;
    top: 100;
    left: 500;
    border: 0px red solid;
  }
  .image2 {
    position: absolute;
    top: 110px;
    left: 85px;
    border: 0px green solid;
  }  